<a
	href="/projects/clarityai"
	class="group flex flex-col bg-astro-dark-800 border border-astro-dark-100/20 hover:border-astro-dark-100/40 rounded-xl xl:rounded-2xl overflow-hidden"
>
	<div class="pt-4 px-4 lg:pt-6 min-h-52 space-y-2 relative flex items-center justify-center">
		<svg width="90" height="83" viewBox="0 0 90 83" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M72.4996 6.50677C74.1511 8.6514 75.5017 10.9662 76.5522 13.4511C77.3981 16.5884 77.6392 19.7712 77.2759 22.9994C80.6731 24.4224 83.5195 26.5445 85.8153 29.365C89.1008 33.7217 90.4517 38.6406 89.8679 44.1216C88.4274 51.6701 84.1821 57.023 77.1312 60.1803C77.4102 61.3568 77.5066 62.5625 77.4206 63.7971C76.985 70.9431 73.8008 76.4406 67.8681 80.2898C62.4145 83.1216 56.7218 83.652 50.7894 81.8812C48.6896 80.9533 46.7116 79.8442 44.8553 78.5537C39.2549 82.7981 33.0313 84.0038 26.1844 82.1705C24.7912 81.6188 23.4403 80.9917 22.1319 80.2898C16.2003 76.4435 13.0162 70.946 12.5794 63.7971C12.5794 62.4467 12.5794 61.0967 12.5794 59.7463C7.30405 57.7047 3.58928 54.0395 1.43476 48.7512C0.992737 47.1725 0.558532 45.6294 0.132143 44.1216C-0.451718 38.6406 0.899238 33.7217 4.18472 29.365C6.48688 26.5361 9.33324 24.4141 12.7241 22.9994C12.3733 19.7779 12.6147 16.5951 13.4478 13.4511C14.4982 10.9662 15.8489 8.6514 17.5003 6.50677C19.9666 3.99844 22.8613 2.11769 26.1844 0.864538C33.0313 -0.968753 39.2549 0.236948 44.8553 4.48135C46.7116 3.19087 48.6896 2.08181 50.7894 1.15388C59.1551 -1.44212 66.3918 0.34227 72.4996 6.50677ZM38.9211 13.4511C32.5065 13.1626 26.0415 13.0659 19.5266 13.1617C22.8066 7.08575 27.9204 4.52996 34.8686 5.49406C37.3583 6.01517 39.5774 7.0762 41.5264 8.67686C40.5352 10.226 39.6668 11.8174 38.9211 13.4511ZM70.4734 13.1617C63.9586 13.0659 57.4935 13.1626 51.0789 13.4511C50.3332 11.8174 49.4648 10.226 48.4736 8.67686C51.8801 5.67924 55.8363 4.61821 60.3419 5.49406C65.0276 6.38235 68.4045 8.93843 70.4734 13.1617ZM44.7106 12.583C45.4421 13.1646 45.9729 13.9363 46.3026 14.8978C47.1415 17.7649 47.2379 20.6584 46.5921 23.5781C46.2141 24.7199 45.6835 25.7806 45 26.7609C44.3791 26.1151 43.9449 25.3434 43.6974 24.4462C42.4779 20.3409 42.8154 16.3865 44.7106 12.583ZM19.5266 13.1617C26.0415 13.0659 32.5065 13.1626 38.9211 13.4511C37.4425 18.8358 37.9251 24.044 40.3685 29.0757C38.6728 28.9825 37.0323 29.0789 35.4475 29.365C30.9208 23.7778 25.035 21.27 17.7898 21.8421C17.3895 18.7134 17.9684 15.8199 19.5266 13.1617ZM70.4734 13.1617C72.0316 15.8199 72.6105 18.7134 72.2102 21.8421C63.3909 21.3299 56.8298 24.8984 52.5262 32.5478C51.1226 32.3551 49.6752 32.1621 48.1842 31.9691C48.4881 31.7003 48.4881 31.5076 48.1842 31.3905C51.8034 25.8397 52.7685 19.8598 51.0789 13.4511C57.4935 13.1626 63.9586 13.0659 70.4734 13.1617ZM19.2372 27.0503C25.1065 26.7062 29.5452 29.1174 32.5528 34.2839C26.7055 34.4483 22.2671 32.0368 19.2372 27.0503ZM67.2892 26.7609C68.4511 26.7129 69.609 26.7612 70.7628 26.9056C67.7885 32.0088 63.3498 34.4682 57.4472 34.2839C59.6842 30.3734 62.9651 27.8657 67.2892 26.7609ZM35.4475 29.365C37.0323 29.0789 38.6728 28.9825 40.3685 29.0757C41.3489 30.6926 42.5068 32.1876 43.8421 33.5605C44.5175 33.7535 45.1931 33.7535 45.8684 33.5605C46.7924 32.9738 47.5644 32.2504 48.1842 31.3905C48.4881 31.5076 48.4881 31.7003 48.1842 31.9691C49.6752 32.1621 51.1226 32.3551 52.5262 32.5478C49.9798 37.5309 51.5238 39.8457 57.1577 39.4921C65.5463 39.2329 71.7699 35.4714 75.8286 28.2077C82.8766 31.7848 85.6749 37.4754 84.2232 45.279C82.8612 49.7265 80.0629 52.9093 75.8286 54.8274C70.5909 45.7825 62.8233 42.262 52.5262 44.2663C51.7597 44.7388 51.3738 45.4141 51.3683 46.2917C51.5704 47.4274 51.8599 48.5365 52.2368 49.6192C50.6261 50.0738 48.9857 50.3631 47.3158 50.4872C45.5755 48.8843 43.9353 48.9806 42.3948 50.7766C41.0632 50.3047 38.0527 49.0405 38.0527 49.0405C38.3865 49.2757 38.3865 48.6971 38.0527 49.0405C39.5264 45.547 38.3685 43.7626 34.5791 43.6876C25.409 43.1338 18.6064 46.847 14.1714 54.8274C9.48348 52.7427 6.58878 49.1739 5.48735 44.1216C4.54657 36.8866 7.29653 31.63 13.7372 28.3523C14.0658 28.1356 14.3553 28.1836 14.6057 28.497C19.7194 37.4172 27.342 40.841 37.4738 38.7688C38.5246 37.8863 38.8624 36.7772 38.4869 35.4413C37.7751 33.2466 36.762 31.2212 35.4475 29.365ZM29.6581 48.4618C30.6417 48.3692 31.6068 48.4656 32.5528 48.7512C29.5843 53.8517 25.1458 56.3112 19.2372 56.1295C21.627 52.0911 25.1007 49.535 29.6581 48.4618ZM57.4472 48.4618C63.344 48.5616 67.7825 51.1174 70.7628 56.1295C64.7118 56.3372 60.2733 53.7814 57.4472 48.4618ZM38.0527 49.0405C38.3865 49.2757 38.3865 48.6971 38.0527 49.0405C38.0527 49.0405 41.0632 50.3047 42.3948 50.7766C39.0227 55.1037 37.5754 60.0226 38.0527 65.5332L18.3688 66.4012C17.8686 64.741 17.6755 63.0049 17.7898 61.193C27.2674 61.572 34.0219 57.5212 38.0527 49.0405ZM44.7106 56.2741C45.4018 56.4822 45.836 56.9642 46.0132 57.7209C47.1114 60.746 47.3045 63.8321 46.5921 66.9799C46.2942 68.2498 45.7636 69.4072 45 70.4521C42.9795 66.9186 42.4489 63.1571 43.4079 59.1676C43.7669 58.1612 44.2011 57.1969 44.7106 56.2741ZM52.2368 49.6192C56.3145 57.8794 62.9723 61.7376 72.2102 61.193C72.4221 64.0613 71.9395 66.7617 70.7628 69.2947C64.2813 69.192 57.8166 68.9026 51.3683 68.4266C52.9297 61.776 51.5788 55.7961 47.3158 50.4872C48.9857 50.3631 50.6261 50.0738 52.2368 49.6192ZM38.0527 65.5332C38.6149 68.7151 39.7728 71.6569 41.5264 74.3582C37.4888 77.5607 32.9537 78.5251 27.9213 77.2517C22.6894 75.4184 19.5052 71.8016 18.3688 66.4012L38.0527 65.5332ZM51.3683 68.4266C57.8166 68.9026 64.2813 69.192 70.7628 69.2947C68.1237 74.8614 63.6853 77.6585 57.4472 77.6857C54.0141 77.7476 51.023 76.6385 48.4736 74.3582C49.7114 72.511 50.6762 70.5336 51.3683 68.4266Z"
				fill="white"></path>
		</svg>

		<div
			class="absolute top-0 left-0 z-10 size-full bg-[radial-gradient(#252730_0.5px,transparent_0.5px)] [background-size:5px_5px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_40%,#ffffff_40%,transparent_100%)]"
		>
		</div>
	</div>

	<div class="p-4 xl:p-6 xl:mt-4 space-y-2">
		<h3 class="text-base text-white font-semibold">ClarityAI</h3>
		<p class="text-astro-gray-200 font-light text-sm xl:text-base md:text-balance">
			See beyond the surface of wellbeing.<br />
			Enhance student engagement and equip yourself with comprehensive, data-driven insights to foster
			meaningful, proactive solutions for better student support.
		</p>
	</div>
</a>

<style>
	#clarityai-logo {
		font-size: 60px;
		font-weight: 700;
		line-height: 80px;
		letter-spacing: 0.02em;
	}
</style>
